<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Exercise 01" parallel="tests" thread-count="3">


    <test verbose="2" preserve-order="true"
          name="Window_Chrome_Test">
        <parameter name="platform" value="windows"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="assignment07.exercise01.BaseTest"/>
        </classes>
    </test>


    <test verbose="2" preserve-order="true"
          name="Window_Firefox_Test">
        <parameter name="platform" value="windows"/>
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="assignment07.exercise01.BaseTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true"
          name="Window_headless_Test">
        <parameter name="platform" value="windows"/>
        <parameter name="browser" value="headless"/>
        <classes>
            <class name="assignment07.exercise01.BaseTest"/>
        </classes>
    </test>




</suite>